
#code-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    height: 100%;
    .tabs {
      display: flex;
      flex-direction: row;
      .tab {
        background-color: var(--accent-dark);
        display: flex;
        flex: 1;
        user-select: none;
        transition: background-color var(--transition-time) ease-in-out;
        &:hover {
          background-color: var(--accent-darkish);
        }
        &.selected {
          background-color: var(--accent);
        }
        a {
          padding: 1em 2em;
          text-decoration: none;
          width: 100%;
          color: var(--white);
        }
      }
    }
    .code {
      display: flex;
      flex: 1;
      flex-direction: column;
      background-color: var(--white);
      padding: 0;
      height: 100%;
      .code-element {
        display: none;
        overflow: hidden;
        flex-direction: column;
        .copy-container {
          display: flex;
          justify-content: flex-start;
          padding: 1em;
          background: var(--grey);
          .copy {
            -webkit-appearance: none;
            border: 0;
            border-radius: 0;
            background-color: var(--accent);
            color: var(--white);
            padding: 0.6em 1em;
            font-weight: 400;
            font-size: 1em;
            text-align: center;
            transition: background-color var(--transition-time)ease-in-out;
            cursor: pointer;
            user-select: none;
            &:hover {
              background-color: var(--accent-darkish);
            }
          }
        }
        pre {
          margin: 0;
          display: flex;
          flex: 1;
          overflow: scroll;
          padding: 1em;
          background: var(--grey);
        }
        &.selected {
          display: flex;
          flex: 1;
        }
      }
    }
  }