#loader-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--accent);
    color: var(--white);
    justify-content: space-around;
    align-content: center;
    text-align: center;
    max-width: 50%;
    transition: background-color var(--transition-time) ease-in-out;
    #loader-name, #loader-links {
        display: flex;
        flex: 1;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    #loader-name {
        justify-content: center;
        h1 {
        font-size: 1.8em;
        padding: 0 0.5em;
        }
        h2 {
        font-size: 1.6em;
        padding: 0 0.5em;
        }
    }
    #loader-links {
        justify-content: space-evenly;
    }
    #loader-controls {
        display: none;
    }
    #loader-content {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        #loader {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            #animation-wrapper {
                display: flex;
                justify-content: center;
                align-content: center;
            }
        }
    }
    a {
        text-decoration: underline;
        color: var(--white);
        font-weight: 600;
        font-size: 1.1em;
    }
}

#prevButton {
    margin-left: 3em;
    .arrow {
        margin-left: 0.35em;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
    }
}

#nextButton {
    margin-right: 3em;
    .arrow {
        margin-right: 0.35em;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
    }
}

#loader-dots {
    display: flex;
    flex-direction: row;
    margin: 1em;
    .loader-dot {
        padding: 0.5em;
        div {
            padding: 0.5em;
            background-color: var(--accent-darkish);
            border-radius: 50%;
            cursor: pointer;
            transition: background-color var(--transition-time) ease-in-out;
        }
        &.selected {
            div {
                background-color: var(--white);
            }
        }
        &:hover {
            div {
                background-color: var(--grey);
            }
        }
    }
}

#nextButton, #prevButton {
    display: flex;
    border: none;
    font-weight: 600;
    -webkit-appearance: none;
    background-color: var(--accent-darkish);
    border-radius: 50%;
    padding: 0.92em 0.75em 0.92em 0.75em;
    transition: background-color var(--transition-time) ease-in-out; 
    cursor: pointer;
    &:hover {
      background-color: var(--accent-dark);
    }
    .arrow {
      border: solid var(--white);
      border-width: 0 0.4em 0.4em 0;
      display: inline-block;
      padding: 0.6em;
    }
  }