
@media screen and (max-width: 50em) { 
    body {
      flex-direction: column !important;
      #prevButton {
        margin-left: 1em;
      }
      #nextButton {
        margin-right: 1em;
      }
      #loader-container {
        max-width: 100%;
        height: 96vh;
        &.code-visible {
          display: none;
        }
        #loader-name {
          h1 {
            font-size: 1.3em;
          }
          h2 {
            font-size: 1.3em;
          }
        }
      }
      #code-container .tabs .tab a {
        padding: 0.5em 2em;
      }
      #loader-dots {
        margin: 0;
      }
      #code-container {
        display: none;
        max-width: 100%;
      }
      #displayCodeButton {
        display: flex;
        height: 4vh;
      }
      h1, h2 {
         margin: 0;
      }
    }
  }