$twoCircleSize: 4em;
$twoCircleTiming: 3s;
$twoCircleColor1: #f1c40f;
$twoCircleColor2: #de4e40;

.twoCircleLoader {
    width: $twoCircleSize;
    height: $twoCircleSize;
    .circle {
      width: $twoCircleSize;
      height: $twoCircleSize;
      border-radius: $twoCircleSize;
      position: absolute;
      animation: load $twoCircleTiming infinite cubic-bezier(0.65, 0.05, 0.36, 1);
      &:nth-child(1) {
        background-color: $twoCircleColor1;
        transform: scale(0);
        animation-delay: $twoCircleTiming/2;
      }
      &:nth-child(2) {
        background-color: $twoCircleColor2;
      }
   }
}

@keyframes load {
  0% { transform: scale(0); }
  46% { transform: scale(1); }
  54% { transform: scale(1); }
  100% { transform: scale(0); }
}