@import '../../styles/variables'; 

.tabs_container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  .tabs {
    display: flex;
    flex-direction: row;
    width: 100%;
    .tab {
      display: flex;
      flex: 1;
      padding: calc(0.5em + 4px) 1em;
      font-family: $font-family;
      font-size: $size-m;
      font-weight: $weight-semi-bold;
      background: $dark;
      border-bottom: 4px solid $dark;
      color: $white;
      cursor: pointer;
      text-align: center;
      align-items: center;
      justify-content: center;
      user-select: none;

      &:focus {
        outline: 0;
        background: $dark;
      }
      &:hover {
        background: $darker;
      }
      &.active {
        border-bottom: 4px solid $selected;
        background: $darker;
        &:hover {
          background: $darker;
        }
      }
    }
  }
  .tabs_content {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}