@import '../../styles/variables'; 

.loader_selection {
  display: flex;
  flex-direction: column;
  flex: 1;
  .grid_item {
    .grid_item_title, .loader_container {
      transition: background-color $transition-time ease-in-out;
    }
  }
  .no-results {
    padding: 0 1em;
    margin: 2em;
    font-weight: 600;
  }
  .grid {
    max-width: $max-width;
    width: 100%;
    box-sizing: border-box;
  }
}