@import '../../styles/variables'; 

.loader_selection {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  .grid_item {
    .grid_item_title, .loader_container {
      transition: background-color $transition-time ease-in-out;
    }
  }
  .no-results {
    font-weight: $weight-regular;
    color: $white;
    font-size: $size-m;
  }
  .grid {
    max-width: $max-width;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }
}