$dark: #282D3E;
$darker: #202432;
$darkest: #101219;
$white: #FFFFFF;
$off-white: #E5E5E5;
$near-white: #f0f0f0;
$grey: #C8C8C8;
$grey-dark: #38383a;
$action: #E07A5F;
$action-dark: #DB6443;

$font-family: 'Overpass', sans-serif;

$max-width: 1000px;
$border-radius: 0.4em;
$mobile-width: 700px;

$transition-time: 0.1s;

$size-xl: 2.5em;
$size-l: 2.25em;
$size-m: 1.125em;
$size-s: 1em;
$size-xs: 0.95em;

$weight-max-bold: 900;
$weight-extra-bold: 800;
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-regular: 400;