@import '../../styles/variables'; 

.input_box {
  position: relative;
  display: flex;
  align-items: center;
  .text_input {
    display: flex;
    flex: 1;
    padding: 0.4em 0.6em;
    font-family: $font-family;
    border-radius:  $border-radius;
    border: none;
    background: $white;
    transition: background-color $transition-time ease-in-out;
    color: $darker;
    font-weight: $weight-semi-bold;
    font-size: $size-s;
    &:focus {
      outline:0;
      background: $off-white;
    }
    &:hover {
      background: $off-white;
    }
    &::placeholder {
      right: 1em;
    }
    &.with-icon {
      padding-left: 2.2em;
    }
  }
  .input_icon {
    display: flex;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0.4em;
    pointer-events: none;
    color: $dark;
  }
  .clear_button {
    display: flex;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0.4em;
    cursor: pointer;
    color: $dark;
    &.hidden {
      display: none;
    }
  }
}