//- index.pug
doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="Collection of CSS loaders.")
        title CSS Loaders
        link(rel='apple-touch-icon', sizes='180x180', href='favicons/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='favicons/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='favicons/favicon-16x16.png')
        link(rel='manifest', href='favicons/site.webmanifest')
        link(rel='mask-icon', href='favicons/safari-pinned-tab.svg', color='#de4e40')
        link(rel='shortcut icon', href='favicons/favicon.ico')
        meta(name='msapplication-TileColor', content='#de4e40')
        meta(name='msapplication-config', content='favicons/browserconfig.xml')
        meta(name='theme-color', content='#ffffff')
        link(rel="stylesheet", type="text/css", href="css/cssloaders.css")
        link(href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700", rel="stylesheet")
    body
        section#loader-container
            div#loader-name
                h1 CSS Loaders 
                    | by 
                    a(href='http://www.danielhearn.co.uk') Daniel Hearn
                h2 Loader Name
            div#loader-content
                .button-container
                    a#prevButton
                        .arrow
                div#loader
                .button-container
                    a#nextButton
                        .arrow
            div#loader-links
                div#loader-dots
                a#loader-source View Source
        section#code-container
            .tabs
                .tab.selected
                    a(href="#html") HTML
                .tab
                    a(href="#css") CSS
                .tab
                    a(href="#scss") SCSS
            .code
                div#html.code-element.selected
                    .copy-container
                        button.copy Copy HTML
                    pre
                        code#html-code.language-markup
                div#css.code-element
                    .copy-container
                        button.copy Copy CSS
                    pre
                        code#css-code.language-css
                div#scss.code-element
                    .copy-container
                        button.copy Copy SCSS
                    pre
                        code#scss-code.language-scss  
        a#displayCodeButton Show Code              
        script(src="js/cssloaders.js", type="text/javascript")