//- index.pug
doctype html
html
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="description", content="Collection of CSS loaders.")
  title CSS Loaders

  link(rel="stylesheet", href="css/main.css")

  body.body
    section#loader-container
        p   LOADER
    section#code-container
        p   CODE