//- index.pug
doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="Collection of CSS loaders.")
        title CSS Loaders

        link(rel="stylesheet", type="text/css", href="css/main.css",)
        link(href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700", rel="stylesheet")
        link(rel="stylesheet", type="text/css", href="css/prism.css")
    body
        section#loader-container
            div#loader-content
            div
                button#prevButton Left
                button#nextButton Right
        section#code-container
            .tabs
                .tab.selected
                    a(href="#html") HTML
                .tab
                    a(href="#css") CSS
                .tab
                    a(href="#scss") SCSS
            .code
                div#html.code-element.selected
                    pre
                        code#html-code.language-markup
                div#css.code-element
                    pre
                        code#css-code.language-css
                div#scss.code-element
                    pre
                        code#scss-code.language-scss  
        script(async src="/js/prism.js", type="text/javascript")
        script(async src="https://cdn.jsdelivr.net/npm/siema@1.5.1/dist/siema.min.js", type="text/javascript")
        script(async src="/js/main.js", type="text/javascript")