@import '../../styles/variables'; 

.grid_item {
  display: flex;
  flex-direction: column;;
  background: $white;
  overflow: hidden;
  border-radius: $border-radius;
  -webkit-box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.1);
  box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.1);
  .grid_item_content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .grid_item_title {
    color: $dark;
    display: flex;
    justify-content: left;
    padding: 0.8em 0.6em;
  }
}