:root {
  --accent: #de4e40;
  --accent-darkish: #d3463a;
  --accent-dark: #bd3c30;
  --white: #fefefe;
  --grey: #fbfbfb;
  --transition-time: 0.25s; }

.pulseLoader {
  width: 4em;
  height: 4em; }
  .pulseLoader .pulse {
    width: 4em;
    height: 4em;
    border-radius: 4em;
    position: absolute;
    background-color: white;
    animation: heartbeatanim 1.2s ease-in-out infinite;
    transform: scale(0);
    outline: 1px solid transparent; }
    .pulseLoader .pulse:nth-child(2) {
      animation-delay: 0.22s; }

@keyframes heartbeatanim {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1);
    opacity: 0; } }

.squareLoader {
  max-width: 60px; }
  .squareLoader .square {
    height: 30px;
    width: 30px;
    background-color: white;
    float: right;
    animation: squareanim 3s infinite; }
    .squareLoader .square:nth-child(1) {
      float: left; }
    .squareLoader .square:nth-child(1) {
      animation-delay: 0.3s; }
    .squareLoader .square:nth-child(2) {
      animation-delay: 0.6s; }
    .squareLoader .square:nth-child(3) {
      animation-delay: 0.9s; }
    .squareLoader .square:nth-child(4) {
      animation-delay: 1.2s; }

@keyframes squareanim {
  0% {
    opacity: 1; }
  40% {
    opacity: 0; }
  50% {
    opacity: 0; }
  90% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.sliderloader {
  display: flex;
  justify-content: center;
  align-items: center; }
  .sliderloader .rect {
    height: 20px;
    width: 8px;
    background-color: #FFF;
    display: inline-block;
    animation: slideranim 1.4s ease-in-out infinite;
    margin-right: 4px; }
    .sliderloader .rect:nth-child(1) {
      animation-delay: 0.15s; }
    .sliderloader .rect:nth-child(2) {
      animation-delay: 0.3s; }
    .sliderloader .rect:nth-child(3) {
      animation-delay: 0.45s; }
    .sliderloader .rect:nth-child(4) {
      animation-delay: 0.6s; }
    .sliderloader .rect:nth-child(5) {
      animation-delay: 0.75s; }

@keyframes slideranim {
  0% {
    transform: scaleY(1); }
  25% {
    transform: scaleY(3); }
  50% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(1); } }

.loader {
  width: 3em;
  height: 3em;
  animation: hollowboxAnim 1.25s infinite ease-in-out;
  outline: 1px solid transparent; }
  .loader .largeBox {
    height: 3em;
    width: 3em;
    background-color: #ECECEC;
    outline: 1px solid transparent;
    position: fixed; }
  .loader .smallBox {
    height: 3em;
    width: 3em;
    background-color: #34495e;
    position: fixed;
    z-index: 1;
    outline: 1px solid transparent;
    animation: smallBoxAnim 1.25s alternate infinite ease-in-out; }

@keyframes smallBoxAnim {
  0% {
    transform: scale(0.2); }
  100% {
    transform: scale(0.75); } }

@keyframes hollowboxAnim {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(90deg); } }

body {
  display: flex;
  flex-direction: row;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

button, a {
  font-family: 'Poppins', sans-serif; }

#loader-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--accent);
  color: var(--white);
  justify-content: space-around;
  align-content: center;
  text-align: center;
  transition: background-color var(--transition-time) ease-in-out; }
  #loader-container #loader-name, #loader-container #loader-links {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    align-items: center; }
  #loader-container #loader-controls {
    display: none; }
  #loader-container #loader-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    #loader-container #loader-content #loader {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1; }
      #loader-container #loader-content #loader #animation-wrapper {
        display: flex;
        justify-content: center;
        align-content: center; }
  #loader-container a {
    text-decoration: underline;
    color: var(--white);
    font-weight: 600;
    font-size: 1.1em;
    flex: 1; }

#code-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 50%; }
  #code-container .tabs {
    display: flex;
    flex-direction: row; }
    #code-container .tabs .tab {
      background-color: var(--accent-dark);
      display: flex;
      flex: 1;
      user-select: none;
      transition: background-color var(--transition-time) ease-in-out; }
      #code-container .tabs .tab:hover {
        background-color: var(--accent-darkish); }
      #code-container .tabs .tab.selected {
        background-color: var(--accent); }
      #code-container .tabs .tab a {
        padding: 1em 2em;
        text-decoration: none;
        width: 100%;
        color: var(--white); }
  #code-container .code {
    display: flex;
    flex: 1;
    background-color: var(--white);
    padding: 0; }
    #code-container .code .code-element {
      display: none;
      overflow: hidden;
      flex-direction: column; }
      #code-container .code .code-element .copy-container {
        display: flex;
        justify-content: flex-start;
        padding: 1em;
        background: var(--grey); }
        #code-container .code .code-element .copy-container .copy {
          -webkit-appearance: none;
          border: 0;
          border-radius: 0;
          background-color: var(--accent);
          color: var(--white);
          padding: 0.6em 1em;
          font-weight: 400;
          font-size: 1em;
          text-align: center;
          transition: background-color var(--transition-time) ease-in-out;
          cursor: pointer;
          user-select: none; }
          #code-container .code .code-element .copy-container .copy:hover {
            background-color: var(--accent-darkish); }
      #code-container .code .code-element pre {
        margin: 0;
        display: flex;
        flex: 1;
        overflow: scroll;
        padding: 1em;
        background: var(--grey); }
      #code-container .code .code-element.selected {
        display: flex;
        flex: 1; }

.button-container {
  display: flex;
  justify-content: center;
  align-items: center; }

#nextButton, #prevButton {
  display: flex;
  border: none;
  font-weight: 600;
  -webkit-appearance: none;
  background-color: var(--accent-darkish);
  border-radius: 50%;
  padding: 0.92em 0.75em 0.92em 0.75em;
  transition: background-color var(--transition-time) ease-in-out;
  cursor: pointer; }
  #nextButton:hover, #prevButton:hover {
    background-color: var(--accent-dark); }

.arrow {
  border: solid var(--white);
  border-width: 0 0.4em 0.4em 0;
  display: inline-block;
  padding: 0.8em; }

#prevButton {
  margin-left: 4em; }
  #prevButton .arrow {
    margin-left: 0.35em;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg); }

#nextButton {
  margin-right: 4em; }
  #nextButton .arrow {
    margin-right: 0.35em;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg); }

@media screen and (max-width: 50em) {
  body {
    flex-direction: column; }
    body #code-container {
      width: 100%; } }
