@media screen and (max-width: 50em) {
  body {
    flex-direction: column; }
    body #prevButton {
      margin-left: 1em; }
    body #nextButton {
      margin-right: 1em; }
    body #loader-container {
      max-width: 100%; }
    body #code-container {
      max-width: 100%; } }
