:root {
  --accent: #de4e40;
  --accent-darkish: #d3463a;
  --accent-dark: #bd3c30;
  --white: #fefefe;
  --grey: #f1f1f1;
  --transition-time: 0.25s;
}

@import 'prism/prism';

@import 'partials/code-container';
@import 'partials/loader-slider';
@import 'partials/media-queries';

@import 'loaders/1_square';
@import 'loaders/2_heartbeat';
@import 'loaders/3_slider';
@import 'loaders/4_hollowbox';
@import 'loaders/5_pulse';
@import 'loaders/6_twocircle';
@import 'loaders/7_bar';

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: row;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

button, a {
  font-family: 'Poppins', sans-serif;
}

.visible {
  display: flex !important;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#displayCodeButton {
  display: none;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 0.5em 1em;
  background-color: var(--accent-darkish);
  color: var(--white);
  transition: background-color var(--transition-time) ease-in-out;
  cursor: pointer;
}