:root {
  --accent: #de4e40;
  --accent-darkish: #d3463a;
  --accent-dark: #bd3c30;
  --white: #fefefe;
  --grey: #f1f1f1;
  --transition-time: 0.25s;
}

@import 'prism/prism';

@import 'partials/code-container';
@import 'partials/loader-slider';
@import 'partials/media-queries';

@import 'loaders/1_square';
@import 'loaders/2_heartbeat';
@import 'loaders/3_slider';
@import 'loaders/4_hollowbox';
@import 'loaders/5_pulse';
@import 'loaders/6_twocircle';
@import 'loaders/7_bar';

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: row;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

button, a {
  font-family: 'Poppins', sans-serif;
}

.visible {
  display: flex !important;
}

#loader-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--accent);
  color: var(--white);
  justify-content: space-around;
  align-content: center;
  text-align: center;
  max-width: 50%;
  transition: background-color var(--transition-time) ease-in-out;
  #loader-name, #loader-links {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  #loader-name {
    justify-content: center;
    h1 {
      font-size: 1.8em;
    }
    h2 {
      font-size: 1.6em;
    }
  }
  #loader-links {
    justify-content: space-evenly;
  }
  #loader-controls {
    display: none;
  }
  #loader-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    #loader {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      #animation-wrapper {
        display: flex;
        justify-content: center;
        align-content: center;
      }
    }
  }
  a {
    text-decoration: underline;
    color: var(--white);
    font-weight: 600;
    font-size: 1.1em;
  }
}

#code-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  .tabs {
    display: flex;
    flex-direction: row;
    .tab {
      background-color: var(--accent-dark);
      display: flex;
      flex: 1;
      user-select: none;
      transition: background-color var(--transition-time) ease-in-out;
      &:hover {
        background-color: var(--accent-darkish);
      }
      &.selected {
        background-color: var(--accent);
      }
      a {
        padding: 1em 2em;
        text-decoration: none;
        width: 100%;
        color: var(--white);
      }
    }
  }
  .code {
    display: flex;
    flex: 1;
    background-color: var(--white);
    padding: 0;
    .code-element {
      display: none;
      overflow: hidden;
      flex-direction: column;
      height: 100%;
      .copy-container {
        display: flex;
        justify-content: flex-start;
        padding: 1em;
        background: var(--grey);
        .copy {
          -webkit-appearance: none;
          border: 0;
          border-radius: 0;
          background-color: var(--accent);
          color: var(--white);
          padding: 0.6em 1em;
          font-weight: 400;
          font-size: 1em;
          text-align: center;
          transition: background-color var(--transition-time)ease-in-out;
          cursor: pointer;
          user-select: none;
          &:hover {
            background-color: var(--accent-darkish);
          }
        }
      }
      pre {
        margin: 0;
        display: flex;
        flex: 1;
        overflow: scroll;
        padding: 1em;
        background: var(--grey);
      }
      &.selected {
        display: flex;
        flex: 1;
      }
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#displayCodeButton {
  display: none;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 0.5em 1em;
  background-color: var(--accent-darkish);
  color: var(--white);
  transition: background-color var(--transition-time) ease-in-out;
  cursor: pointer;
}