@import '../../styles/variables'; 

.nav {
  background: $darkest;
  color: $white;
  display: flex;
  .nav_title {
    padding: 0.7em;
    font-size: $size-m;
    font-weight: $weight-bold;
    color: $white;
    text-decoration: none;
  }
}